dash==2.2.0
dash-bootstrap-components==1.0.3
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.9.1
dash-table==5.0.0
pandas==1.4.1
plotly==5.6.0
rdflib==6.0.2
SPARQLWrapper==1.8.5
git+ssh://git@github.com/jaspersnel/datasources.git@dev
